*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-body {
    background-color: #ffffff;
}
.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ebebeb;
    margin-top: 10%;
    display: inline-block;
    border: 2px outset rgb(172, 172, 172);
}
.login h1{
    font-size: 36px;
    margin-bottom: 25px;
}
.login form{
    font-size: 20px;
}
.login form .form-group{
    margin-bottom: 12px;
}
.login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
}
h1, h2, h3, desc
{
    color: #a8c7e4;
}
/* Placeholder */
/*.login-navbar
{
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 48%;
}*/